.pokemons .preloader {
  display: none;
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1; }
  .pokemons .preloader #fountainG {
    position: relative;
    width: 234px;
    height: 28px;
    margin: 15% auto; }
  .pokemons .preloader .fountainG {
    position: absolute;
    top: 0;
    background-color: black;
    width: 28px;
    height: 28px;
    animation-name: bounce_fountainG;
    -o-animation-name: bounce_fountainG;
    -ms-animation-name: bounce_fountainG;
    -webkit-animation-name: bounce_fountainG;
    -moz-animation-name: bounce_fountainG;
    animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    transform: scale(0.3);
    -o-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    border-radius: 19px;
    -o-border-radius: 19px;
    -ms-border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px; }
  .pokemons .preloader #fountainG_1 {
    left: 0;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s; }
  .pokemons .preloader #fountainG_2 {
    left: 29px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s; }
  .pokemons .preloader #fountainG_3 {
    left: 58px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s; }
  .pokemons .preloader #fountainG_4 {
    left: 88px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s; }
  .pokemons .preloader #fountainG_5 {
    left: 117px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s; }
  .pokemons .preloader #fountainG_6 {
    left: 146px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s; }
  .pokemons .preloader #fountainG_7 {
    left: 175px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s; }
  .pokemons .preloader #fountainG_8 {
    left: 205px;
    animation-delay: 1.64s;
    -o-animation-delay: 1.64s;
    -ms-animation-delay: 1.64s;
    -webkit-animation-delay: 1.64s;
    -moz-animation-delay: 1.64s; }
@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: black; }
  100% {
    transform: scale(0.3);
    background-color: white; } }
@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: black; }
  100% {
    -o-transform: scale(0.3);
    background-color: white; } }
@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: black; }
  100% {
    -ms-transform: scale(0.3);
    background-color: white; } }
@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: black; }
  100% {
    -webkit-transform: scale(0.3);
    background-color: white; } }
@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: black; }
  100% {
    -moz-transform: scale(0.3);
    background-color: white; } }
.pokemons .pok_detailed h1 {
  text-align: center;
  padding-bottom: 40px; }
.pokemons .pok_detailed .pok_detailed_info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 650px) {
    .pokemons .pok_detailed .pok_detailed_info {
      flex-direction: column; } }
  .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks, .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks_other {
    flex: 40%;
    max-width: 40%; }
    @media (max-width: 1000px) {
      .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks, .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks_other {
        flex: 50%;
        max-width: initial; } }
  .pokemons .pok_detailed .pok_detailed_info h2 {
    text-align: center;
    padding-bottom: 30px; }
  .pokemons .pok_detailed .pok_detailed_info .attacks_info {
    display: flex;
    justify-content: space-around; }
    @media (min-width: 1300px) {
      .pokemons .pok_detailed .pok_detailed_info .attacks_info {
        padding: 0 50px; } }
    .pokemons .pok_detailed .pok_detailed_info .attacks_info .attack_type:not(:first-child) {
      margin-left: 20px; }
    .pokemons .pok_detailed .pok_detailed_info .attacks_info .attack_type h3 {
      text-align: center; }
    .pokemons .pok_detailed .pok_detailed_info .attacks_info .attack_type .attack_type_list {
      list-style-type: none;
      padding-left: 0; }
      .pokemons .pok_detailed .pok_detailed_info .attacks_info .attack_type .attack_type_list li:first-child {
        font-weight: bold;
        text-align: center; }
  .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks_other .pok_detailed_info_attacks_other_list {
    display: flex;
    justify-content: center; }
    .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks_other .pok_detailed_info_attacks_other_list ul {
      list-style-type: none;
      padding-left: 0; }
      .pokemons .pok_detailed .pok_detailed_info .pok_detailed_info_attacks_other .pok_detailed_info_attacks_other_list ul li span {
        font-weight: bold; }
.pokemons .slider_contaier {
  padding: 20px 0;
  display: flex;
  flex-direction: row-reverse; }
  @media (max-width: 600px) {
    .pokemons .slider_contaier {
      justify-content: center; }
      .pokemons .slider_contaier .slick-prev, .pokemons .slider_contaier .slick-next {
        width: initial;
        height: initial;
        z-index: 1; }
      .pokemons .slider_contaier .slick-prev:before, .pokemons .slider_contaier .slick-next:before {
        color: #e6ba5f;
        font-size: 40px; } }
  .pokemons .slider_contaier .single_page_slider {
    max-width: 80%; }
    .pokemons .slider_contaier .single_page_slider img {
      margin: 0 auto; }
      @media (max-width: 600px) {
        .pokemons .slider_contaier .single_page_slider img {
          margin: 0; } }
  .pokemons .slider_contaier .single_page_slider_nav {
    max-width: 15%;
    overflow: hidden; }
    @media (max-width: 600px) {
      .pokemons .slider_contaier .single_page_slider_nav {
        display: none; } }
    .pokemons .slider_contaier .single_page_slider_nav .slick-list {
      min-height: 95%; }
    .pokemons .slider_contaier .single_page_slider_nav .pokemon_cont {
      position: relative; }
      .pokemons .slider_contaier .single_page_slider_nav .pokemon_cont:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px; }
    .pokemons .slider_contaier .single_page_slider_nav .slick-current .pokemon_cont {
      position: relative; }
      .pokemons .slider_contaier .single_page_slider_nav .slick-current .pokemon_cont:before {
        content: none; }
    .pokemons .slider_contaier .single_page_slider_nav .slick-prev, .pokemons .slider_contaier .single_page_slider_nav .slick-next {
      width: initial;
      height: initial;
      z-index: 1; }
    .pokemons .slider_contaier .single_page_slider_nav .slick-prev {
      transform: rotate(90deg);
      top: 0;
      left: 25%; }
    .pokemons .slider_contaier .single_page_slider_nav .slick-next {
      top: 85%;
      right: 50%;
      transform: rotate(90deg); }
    .pokemons .slider_contaier .single_page_slider_nav .slick-prev:before, .pokemons .slider_contaier .single_page_slider_nav .slick-next:before {
      color: #e6ba5f;
      font-size: 40px; }
.pokemons .pok_evo {
  padding: 15px 0; }
  .pokemons .pok_evo h2 {
    text-align: center; }
  .pokemons .pok_evo .pok_evo_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .pokemons .pok_evo .pok_evo_wrap .pok_evo_item {
      display: block;
      position: relative; }
      .pokemons .pok_evo .pok_evo_wrap .pok_evo_item span {
        display: none;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
        border-radius: 5px;
        line-height: 50px;
        color: #ffffff;
        font-size: 20px;
        transition: .5s; }
      .pokemons .pok_evo .pok_evo_wrap .pok_evo_item:hover span {
        display: block; }
.pokemons #map {
  height: 400px; }
.pokemons .print-doc {
  display: block;
  width: 100%;
  background-color: #efeff1;
  text-align: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000e14;
  font-weight: 600;
  transition: .5s; }
  .pokemons .print-doc:hover {
    transform: scale(1.05); }

.above_content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }
  @media (max-width: 700px) {
    .above_content {
      flex-direction: column;
      align-items: center; } }
  .above_content button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .5s;
    position: relative; }
    .above_content button:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7); }
    .above_content button:hover:before {
      content: none; }
  .above_content button:disabled,
  .above_content button[disabled] {
    cursor: default; }
    .above_content button:disabled:before,
    .above_content button[disabled]:before {
      content: none; }
  .above_content .poks_quantity {
    margin: auto 0;
    font-size: 24px;
    font-weight: 600; }
    @media (max-width: 700px) {
      .above_content .poks_quantity {
        margin-bottom: 10px; } }

.pokemons_arch_grid, .custom_poks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0; }
  @media (max-width: 700px) {
    .pokemons_arch_grid, .custom_poks {
      flex-direction: column; } }
  .pokemons_arch_grid .pokemons_arch_grid_items, .custom_poks .pokemons_arch_grid_items {
    display: flex;
    max-width: 25%;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px; }
    @media (max-width: 1000px) {
      .pokemons_arch_grid .pokemons_arch_grid_items, .custom_poks .pokemons_arch_grid_items {
        max-width: 30%; } }
    @media (max-width: 700px) {
      .pokemons_arch_grid .pokemons_arch_grid_items, .custom_poks .pokemons_arch_grid_items {
        position: initial;
        flex-direction: row;
        max-width: 100%;
        height: 275px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0; } }
    .pokemons_arch_grid .pokemons_arch_grid_items .grid_item, .pokemons_arch_grid .pokemons_arch_grid_items .show_more, .custom_poks .pokemons_arch_grid_items .grid_item, .custom_poks .pokemons_arch_grid_items .show_more {
      max-width: initial;
      flex: initial;
      margin: 10px 0; }
      @media (max-width: 700px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .grid_item, .pokemons_arch_grid .pokemons_arch_grid_items .show_more, .custom_poks .pokemons_arch_grid_items .grid_item, .custom_poks .pokemons_arch_grid_items .show_more {
          position: relative;
          min-width: 175px;
          margin: 5px 5px; } }
      @media (max-width: 700px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description {
          position: absolute;
          bottom: 2%; } }
      @media (max-width: 1000px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_name, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_name, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_name, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_name {
          text-align: center;
          font-size: 20px; } }
      @media (max-width: 800px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_name, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_name, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_name, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_name {
          font-size: 16px; } }
      .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats {
        font-size: 12px; }
        @media (max-width: 1250px) {
          .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats {
            font-size: 10px; } }
        @media (max-width: 1000px) {
          .pokemons_arch_grid .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .pokemons_arch_grid .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .grid_item .pokemon_description .pokemon_stats, .custom_poks .pokemons_arch_grid_items .show_more .pokemon_description .pokemon_stats {
            display: none; } }
    .pokemons_arch_grid .pokemons_arch_grid_items .show_more, .custom_poks .pokemons_arch_grid_items .show_more {
      position: absolute;
      bottom: -10px;
      width: 23%;
      font-size: 26px; }
      @media (max-width: 1000px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .show_more, .custom_poks .pokemons_arch_grid_items .show_more {
          width: 28%;
          font-size: 24px; } }
      @media (max-width: 700px) {
        .pokemons_arch_grid .pokemons_arch_grid_items .show_more, .custom_poks .pokemons_arch_grid_items .show_more {
          bottom: -60px;
          margin: 0;
          width: 100%; } }
  .pokemons_arch_grid .pokemons_arch_grid_map, .custom_poks .pokemons_arch_grid_map {
    max-width: 75%;
    width: 75%; }
    @media (max-width: 1000px) {
      .pokemons_arch_grid .pokemons_arch_grid_map, .custom_poks .pokemons_arch_grid_map {
        max-width: 70%;
        width: 70%; } }
    @media (max-width: 700px) {
      .pokemons_arch_grid .pokemons_arch_grid_map, .custom_poks .pokemons_arch_grid_map {
        max-width: 100%;
        width: 100%;
        margin-top: 15px; } }
    .pokemons_arch_grid .pokemons_arch_grid_map #map_arch, .custom_poks .pokemons_arch_grid_map #map_arch {
      height: 60vh; }
  .pokemons_arch_grid .grid_item, .custom_poks .grid_item {
    flex: 30%;
    max-width: 30%;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 15px; }
    @media (max-width: 1000px) {
      .pokemons_arch_grid .grid_item, .custom_poks .grid_item {
        flex: 45%;
        max-width: 45%; } }
    @media (max-width: 700px) {
      .pokemons_arch_grid .grid_item, .custom_poks .grid_item {
        flex: 100%;
        max-width: 100%; } }
    .pokemons_arch_grid .grid_item:hover .slick-prev, .pokemons_arch_grid .grid_item:hover .slick-next, .custom_poks .grid_item:hover .slick-prev, .custom_poks .grid_item:hover .slick-next {
      display: block !important; }
    .pokemons_arch_grid .grid_item .slick-prev, .pokemons_arch_grid .grid_item .slick-next, .custom_poks .grid_item .slick-prev, .custom_poks .grid_item .slick-next {
      display: none !important;
      z-index: 1;
      top: 50%; }
    .pokemons_arch_grid .grid_item .slick-prev:before, .pokemons_arch_grid .grid_item .slick-next:before, .custom_poks .grid_item .slick-prev:before, .custom_poks .grid_item .slick-next:before {
      color: #e6ba5f;
      font-size: 40px; }
    .pokemons_arch_grid .grid_item .slick-prev, .custom_poks .grid_item .slick-prev {
      left: 0; }
    .pokemons_arch_grid .grid_item .slick-next, .custom_poks .grid_item .slick-next {
      right: 15px; }
    .pokemons_arch_grid .grid_item .slick-track, .custom_poks .grid_item .slick-track {
      line-height: 0; }
    .pokemons_arch_grid .grid_item .pokemon_cont, .custom_poks .grid_item .pokemon_cont {
      position: relative; }
      .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; }
        .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks {
          text-align: center; }
          .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info {
            display: flex;
            justify-content: space-around; }
            .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info .attack_type_list, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info .attack_type_list {
              list-style-type: none;
              padding-left: 0; }
              .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info .attack_type_list li:first-child, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_info .attack_type_list li:first-child {
                font-weight: bold; }
          .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_types, .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_weak, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_types, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_weak {
            text-align: left; }
            .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_types span, .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_weak span, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_types span, .custom_poks .grid_item .pokemon_cont .pokemon_cont_inner .attacks .attacks_weak span {
              font-weight: bold; }
      .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_image, .custom_poks .grid_item .pokemon_cont .pokemon_image {
        display: flex;
        align-items: center; }
        .pokemons_arch_grid .grid_item .pokemon_cont .pokemon_image img, .custom_poks .grid_item .pokemon_cont .pokemon_image img {
          margin: auto; }
  .pokemons_arch_grid .show_more, .pokemons_arch_grid .arch_link, .custom_poks .show_more, .custom_poks .arch_link {
    display: flex;
    flex: 30%;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    background-color: #efeff1;
    font-size: 2rem;
    color: #000e14; }
    .pokemons_arch_grid .show_more a, .pokemons_arch_grid .arch_link a, .custom_poks .show_more a, .custom_poks .arch_link a {
      color: #000e14;
      text-align: center;
      position: relative;
      overflow: hidden;
      line-height: initial;
      padding: 5px 15px; }
      .pokemons_arch_grid .show_more a:before, .pokemons_arch_grid .arch_link a:before, .custom_poks .show_more a:before, .custom_poks .arch_link a:before {
        box-sizing: border-box;
        transform: translateX(100%);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent; }
      .pokemons_arch_grid .show_more a:after, .pokemons_arch_grid .arch_link a:after, .custom_poks .show_more a:after, .custom_poks .arch_link a:after {
        box-sizing: border-box;
        transform: translateX(-100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-top: 4px solid transparent;
        border-right: 4px solid transparent; }
      .pokemons_arch_grid .show_more a:hover, .pokemons_arch_grid .arch_link a:hover, .custom_poks .show_more a:hover, .custom_poks .arch_link a:hover {
        cursor: pointer; }
        .pokemons_arch_grid .show_more a:hover:before, .pokemons_arch_grid .arch_link a:hover:before, .custom_poks .show_more a:hover:before, .custom_poks .arch_link a:hover:before {
          transition: 0.1s transform linear, 0.1s height linear 0.1s;
          transform: translateX(0);
          height: 100%;
          border-color: #e6ba5f; }
        .pokemons_arch_grid .show_more a:hover:after, .pokemons_arch_grid .arch_link a:hover:after, .custom_poks .show_more a:hover:after, .custom_poks .arch_link a:hover:after {
          transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
          transform: translateX(0);
          height: 100%;
          border-color: #e6ba5f; }

.pokemon_description {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding-top: 15px;
  width: 100%;
  border-radius: 5px; }
  .pokemon_description .pokemon_name {
    margin-left: 2%;
    color: #f1f1f1; }
  .pokemon_description .pokemon_stats {
    list-style-type: none;
    padding: 0;
    display: flex; }
    @media (min-width: 1000px) and (max-width: 1150px) {
      .pokemon_description .pokemon_stats {
        font-size: 12px; } }
    .pokemon_description .pokemon_stats li {
      margin-left: 2%; }

.poks_filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0;
  overflow-x: hidden; }
  @media (max-width: 1100px) {
    .poks_filter {
      flex-direction: column;
      align-items: center; } }
  .poks_filter:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: -50%;
    box-shadow: 0 9px 15px rgba(0, 0, 0, 0.1); }
  .poks_filter fieldset {
    border-bottom: 2px solid #efeff1; }
    @media (min-width: 1400px) {
      .poks_filter fieldset {
        width: 23%; } }
    @media (max-width: 1100px) {
      .poks_filter fieldset {
        padding: 0 10%;
        width: 90%; } }
    .poks_filter fieldset .ui-button {
      border: none;
      background: none; }
      @media (min-width: 1600px) {
        .poks_filter fieldset .ui-button {
          width: 85%; } }
      @media (max-width: 1100px) {
        .poks_filter fieldset .ui-button {
          width: 90%;
          padding-right: 0;
          margin-right: 0; } }
      @media (max-width: 650px) {
        .poks_filter fieldset .ui-button {
          width: 79%; } }
  .poks_filter .jqui_slider {
    margin-left: 2%; }
    @media (min-width: 1400px) {
      .poks_filter .jqui_slider {
        width: 23%; } }
    @media (max-width: 1100px) {
      .poks_filter .jqui_slider {
        margin-left: 0;
        margin-top: 20px;
        width: 90%; } }
    .poks_filter .jqui_slider .jqui_slider_label {
      display: inline-block;
      width: 40%;
      margin-left: 10%; }
    .poks_filter .jqui_slider .jqui_slider_values {
      width: 40%;
      text-align: right;
      border: none; }
    .poks_filter .jqui_slider .ui-widget-content {
      border: none;
      background: #efeff1;
      height: 2px;
      margin-top: 15px; }
      .poks_filter .jqui_slider .ui-widget-content .ui-slider-handle {
        border-radius: 50%;
        background: #e6ba5f;
        border: none;
        top: -.5em; }
      .poks_filter .jqui_slider .ui-widget-content .ui-widget-header {
        background: #e6ba5f; }
  .poks_filter .filter_btn {
    border-style: none;
    cursor: pointer;
    background-color: #e6ba5f;
    color: #3d1249;
    width: 15%;
    transition: .5s;
    z-index: 1; }
    @media (max-width: 1100px) {
      .poks_filter .filter_btn {
        margin-top: 20px;
        align-self: center;
        width: 25%;
        height: 30px; } }
    .poks_filter .filter_btn:hover {
      color: #efeff1;
      background-color: #3d1249; }

.ui-selectmenu-menu {
  height: 200px;
  overflow-y: scroll;
  border-top: 3px solid #3d1249; }
  .ui-selectmenu-menu .ui-widget-content {
    border: none !important;
    background-color: #efeff1; }
    .ui-selectmenu-menu .ui-widget-content .ui-menu-item .ui-state-active {
      border: none;
      background-color: #3d1249; }

.gm-style-iw-d .pokemon_image img {
  max-width: 100%;
  max-height: 100%; }
.gm-style-iw-d .pokemon_description {
  position: absolute;
  bottom: 3%;
  width: 94%; }
  @media (max-width: 700px) {
    .gm-style-iw-d .pokemon_description {
      display: none; } }

::-webkit-scrollbar-button {
  width: 6px;
  height: 0; }

::-webkit-scrollbar-track {
  background-color: #efeff1; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #e6ba5f; }

::-webkit-resizer {
  width: 7px;
  height: 0; }

::-webkit-scrollbar {
  width: 11px; }

@media print {
  header, footer, .slick-prev, .slick-next, .print-doc, .pok_evo {
    display: none !important; }

  .pokemons .pok_detailed .pok_detailed_info {
    flex-direction: row; }

  .et_pb_section, .et_pb_row, .slider_contaier {
    padding: 0; }

  .map {
    margin-top: 400px; } }

/*# sourceMappingURL=pokemon_page.css.map */
