.pokemons_arch_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .grid_item {
    flex: 30%;
    max-width: 30%;
    margin-left: 5px;
    margin-top: 50px;
    margin-bottom: 15px;
    @media (max-width: 1000px) {
      flex: 45%;
      max-width: 45%;
    }
    @media (max-width: 600px) {
      flex: 90%;
      max-width: 90%;
    }
    &:hover {
      .slick-prev, .slick-next {
        display: block !important;
      }
    }
    .pokemon_cont {
      position: relative;
      .pokemon_image {
        img {
          margin: 0 auto;
        }
      }
      .pokemon_description {
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0 , 0.5);
        color: #f1f1f1;
        padding-top: 15px;
        width: 100%;
        border-radius: 5px;
        .pokemon_name {
          margin-left: 2%;
          color: #f1f1f1
        }
        .pokemon_stats {
          list-style-type: none;
          padding: 0;
          display: flex;
          @media (min-width: 1000px) and (max-width: 1150px) {
            font-size: 12px;
          }
          li {
            margin-left: 2%;
          }
        }
      }
    }
  }
  .slick-prev, .slick-next {
    display: none !important;
    z-index: 1;
    top: 40%;
  }
  .slick-prev:before, .slick-next:before {
    color: #e6ba5f;
    font-size: 40px;
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 15px;
  }
  .show_more, .arch_link {
    display: flex;
    flex: 30%;
    margin-left: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    background-color: #efeff1;
    font-size: 2rem;
    color: #000e14;
    span {
      text-align: center;
      position: relative;
      overflow: hidden;
      line-height: initial;
      padding: 5px 15px;
      &:before {
        box-sizing: border-box;
        transform: translateX(100%);
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
      }
      &:after {
        box-sizing: border-box;
        transform: translateX(-100%);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5%;
        height: 2px;
        border-top: 4px solid transparent;
        border-right: 4px solid transparent;
      }
      &:hover {
        cursor: pointer;
        &:before {
          transition: 0.1s transform linear, 0.1s height linear 0.1s;
          transform: translateX(0);
          height: 100%;
          border-color: #e6ba5f;
        }
        &:after {
          transition: 0.1s transform linear 0.2s, 0.1s height linear 0.3s;
          transform: translateX(0);
          height: 100%;
          border-color: #e6ba5f;
        }
      }
    }
  }
}