body {
  overflow-x: hidden; }
  body header:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
    background-color: #efeff1;
    height: 60px; }
    @media (max-width: 980px) {
      body header:after {
        height: 32px; } }

.psy_header {
  border-top: 40px solid #e6ba5f;
  box-shadow: none !important; }
  .psy_header .container {
    display: flex;
    flex-direction: column; }
    .psy_header .container .header_elements {
      display: flex;
      justify-content: space-between;
      margin-top: 15px; }
      .psy_header .container .header_elements .left_side {
        display: flex;
        flex-direction: column;
        flex: auto;
        font-size: 22px;
        font-weight: 500;
        color: #3d1249; }
        .psy_header .container .header_elements .left_side span {
          margin-top: 20px; }
          @media (max-width: 1155px) {
            .psy_header .container .header_elements .left_side span {
              font-size: 20px; } }
          @media (min-width: 320px) and (max-width: 800px) {
            .psy_header .container .header_elements .left_side span {
              font-size: 14px; } }
        .psy_header .container .header_elements .left_side .logo_container {
          position: relative;
          height: auto; }
      .psy_header .container .header_elements .right_side {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-weight: 600;
        font-size: 20px;
        color: #335377; }
        @media (max-width: 1155px) {
          .psy_header .container .header_elements .right_side span {
            font-size: 14px; } }
        @media (min-width: 320px) and (max-width: 800px) {
          .psy_header .container .header_elements .right_side span {
            font-size: 8px; } }
    .psy_header .container .mobile_menu_bar_toggle:before {
      color: #3d1249; }
    .psy_header .container .et_mobile_menu {
      border-top-color: #3d1249; }
      .psy_header .container .et_mobile_menu li a:hover {
        background-color: #3d1249; }
    .psy_header .container .header_menu {
      display: flex;
      flex-direction: row;
      background-color: #efeff1;
      margin-top: 35px;
      padding: 0 0 0 75px !important;
      position: relative; }
      .psy_header .container .header_menu .mobile_menu_bar {
        padding-bottom: 0; }
      .psy_header .container .header_menu #top-menu li {
        padding-right: 50px; }
        @media (max-width: 1200px) {
          .psy_header .container .header_menu #top-menu li {
            padding-right: 15px; } }
        .psy_header .container .header_menu #top-menu li a {
          padding-bottom: 0;
          padding-left: 25px;
          padding-right: 25px;
          line-height: 60px; }
        .psy_header .container .header_menu #top-menu li .sub-menu {
          width: 300px;
          padding: 0;
          background-color: #efeff1;
          border-top-color: #3d1249; }
          .psy_header .container .header_menu #top-menu li .sub-menu li {
            padding: 0;
            width: 100%; }
            .psy_header .container .header_menu #top-menu li .sub-menu li a {
              line-height: initial;
              padding: 20px 10px;
              width: 100%; }
              .psy_header .container .header_menu #top-menu li .sub-menu li a:hover {
                background-color: #e6ba5f; }
      .psy_header .container .header_menu #top-menu .current-menu-item > a, .psy_header .container .header_menu #top-menu .current-page-ancestor > a {
        background-color: #3d1249;
        color: #ffffff; }

@media (max-width: 875px) {
  .slider_row {
    width: 90%; } }

.psy_slider {
  overflow: visible; }
  .psy_slider .et_pb_slides .et_pb_slide {
    padding: 0; }
    .psy_slider .et_pb_slides .et_pb_slide .et_pb_container {
      max-height: 360px !important; }
      .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_image {
        min-height: 360px; }
        .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_image img {
          min-height: inherit;
          max-height: initial !important;
          max-width: 720px; }
      .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description {
        padding: 35px 25px 25px 35px !important;
        text-shadow: none;
        margin: 20px;
        background: #fff;
        height: 320px; }
        @media (max-width: 767px) {
          .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description {
            margin: 20px auto;
            width: 95%; } }
        .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_title {
          padding-bottom: 0; }
          @media (min-width: 981px) and (max-width: 1210px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_title {
              font-size: 25px !important; } }
        .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_content {
          margin-top: 30px; }
          @media (max-width: 1400px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_content {
              margin-top: 15px; } }
          @media (min-width: 981px) and (max-width: 1210px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_content {
              font-size: 16px !important; } }
          @media (max-width: 767px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_slide_content {
              margin-top: 30px; } }
        .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_more_button {
          margin-top: 40px; }
          @media (max-width: 1575px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_more_button {
              margin-top: 0;
              font-size: 16px; } }
          @media (min-width: 787px) and (max-width: 980px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_more_button {
              margin-top: 70px; } }
          @media (max-width: 767px) {
            .psy_slider .et_pb_slides .et_pb_slide .et_pb_container .et_pb_slide_description .et_pb_more_button {
              margin-top: 25%; } }
  .psy_slider .et-pb-controllers {
    bottom: -10%;
    line-height: 0; }
    .psy_slider .et-pb-controllers a {
      background-color: #efeff1; }
    .psy_slider .et-pb-controllers .et-pb-active-control {
      background-color: #a1ce74; }

@media (min-width: 980px) and (max-width: 1295px) {
  .why_us_row .et_pb_module .et_pb_button {
    padding-right: 20px !important;
    padding-left: 20px !important; } }

.home_contact .et_pb_column .et_pb_module {
  height: 370px; }
  @media (max-width: 768px) {
    .home_contact .et_pb_column .et_pb_module {
      height: 100%; } }
  .home_contact .et_pb_column .et_pb_module h2 {
    padding-bottom: 50px; }
.home_contact .et_pb_contact input {
  padding-left: 0; }
.home_contact .et_pb_contact .et_pb_button {
  margin-top: 70px; }

.spc_container .et-last-child {
  display: flex;
  flex-wrap: wrap; }
  .spc_container .et-last-child .img_container img {
    max-width: 420px;
    max-height: 210px;
    width: 420px;
    height: 210px; }
    @media (max-width: 980px) {
      .spc_container .et-last-child .img_container img {
        max-width: 100%; } }

footer {
  border-top: 8px solid #e6ba5f; }
  footer #footer-widgets {
    padding-top: 20px; }
    footer #footer-widgets .footer-widget {
      margin: 0;
      max-width: 500px; }
      footer #footer-widgets .footer-widget h4 {
        font-weight: 600;
        padding-bottom: 20px; }
        @media (min-width: 980px) and (max-width: 1200px) {
          footer #footer-widgets .footer-widget h4 {
            font-size: 15px; } }
      footer #footer-widgets .footer-widget .textwidget {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        footer #footer-widgets .footer-widget .textwidget p {
          padding-bottom: 0;
          font-weight: 500; }
          @media (min-width: 980px) and (max-width: 1200px) {
            footer #footer-widgets .footer-widget .textwidget p {
              font-size: 13px; } }
  footer #footer-bottom {
    padding: 25px 0; }
    footer #footer-bottom .container {
      max-width: 1300px; }
      footer #footer-bottom .container #footer-info {
        text-align: center;
        line-height: 30px; }

.other_pages .et_pb_column_1, .other_pages .et_pb_column_0 {
  max-width: 840px;
  margin: 0;
  margin-top: 25px;
  padding-right: 10px; }
  @media (max-width: 1800px) {
    .other_pages .et_pb_column_1, .other_pages .et_pb_column_0 {
      max-width: 100%;
      width: 100%; } }
  .other_pages .et_pb_column_1 .et_pb_row_inner_0, .other_pages .et_pb_column_0 .et_pb_row_inner_0 {
    padding-top: 0; }
  .other_pages .et_pb_column_1 img, .other_pages .et_pb_column_0 img {
    width: 830px;
    height: 415px; }
.other_pages .et_pb_column_2, .other_pages .why_us_aside {
  padding-left: 10px;
  max-width: 600px;
  width: 600px;
  padding-top: 0; }
  @media (max-width: 1800px) {
    .other_pages .et_pb_column_2, .other_pages .why_us_aside {
      max-width: 100%;
      width: 100%; } }
  .other_pages .et_pb_column_2 .sp_card_container, .other_pages .why_us_aside .sp_card_container {
    width: 590px;
    height: 175px;
    margin-left: 0; }
    @media (max-width: 1800px) {
      .other_pages .et_pb_column_2 .sp_card_container, .other_pages .why_us_aside .sp_card_container {
        margin-left: auto;
        margin-right: auto; } }
    @media (max-width: 980px) {
      .other_pages .et_pb_column_2 .sp_card_container, .other_pages .why_us_aside .sp_card_container {
        width: 100%; } }
    .other_pages .et_pb_column_2 .sp_card_container .content_container, .other_pages .why_us_aside .sp_card_container .content_container {
      width: 240px;
      padding: 35px 10px 0 10px; }
    .other_pages .et_pb_column_2 .sp_card_container .img_container img, .other_pages .why_us_aside .sp_card_container .img_container img {
      width: 350px;
      height: 175px; }
      @media (max-width: 980px) {
        .other_pages .et_pb_column_2 .sp_card_container .img_container img, .other_pages .why_us_aside .sp_card_container .img_container img {
          width: 100%; } }
  .other_pages .et_pb_column_2 .et_pb_contact_form_0, .other_pages .why_us_aside .et_pb_contact_form_0 {
    margin-top: 20px; }
    .other_pages .et_pb_column_2 .et_pb_contact_form_0 .et_pb_contact input, .other_pages .et_pb_column_2 .et_pb_contact_form_0 .et_pb_contact textarea, .other_pages .why_us_aside .et_pb_contact_form_0 .et_pb_contact input, .other_pages .why_us_aside .et_pb_contact_form_0 .et_pb_contact textarea {
      padding-left: 0; }
    .other_pages .et_pb_column_2 .et_pb_contact_form_0 .et_pb_contact textarea, .other_pages .why_us_aside .et_pb_contact_form_0 .et_pb_contact textarea {
      min-height: 2em; }
      .other_pages .et_pb_column_2 .et_pb_contact_form_0 .et_pb_contact textarea::placeholder, .other_pages .why_us_aside .et_pb_contact_form_0 .et_pb_contact textarea::placeholder {
        padding-top: 20px; }

.who_we_are .et_pb_column_0 {
  margin-right: 0; }
  .who_we_are .et_pb_column_0 .et_pb_module {
    padding-left: 35px;
    padding-right: 75px;
    height: 360px; }
    @media (max-width: 980px) {
      .who_we_are .et_pb_column_0 .et_pb_module {
        padding-right: 35px;
        height: 100%;
        padding-bottom: 20px;
        padding-top: 20px; } }
    .who_we_are .et_pb_column_0 .et_pb_module p {
      margin-top: 70px; }
      @media (max-width: 480px) {
        .who_we_are .et_pb_column_0 .et_pb_module p {
          margin-top: 35px; } }
.who_we_are .et_pb_column_1 img {
  max-width: initial; }
  @media (max-width: 980px) {
    .who_we_are .et_pb_column_1 img {
      max-width: 100%; } }
  @media (min-width: 980px) and (max-width: 1700px) {
    .who_we_are .et_pb_column_1 img {
      max-width: 100%;
      height: 100%; } }
.who_we_are .team .et_pb_image {
  margin-bottom: 0; }
  .who_we_are .team .et_pb_image img {
    width: 220px;
    height: 290px; }
.who_we_are .team h2, .who_we_are .team p {
  padding-bottom: 0;
  padding-top: 50px; }

.single .et_pb_column_0 {
  display: flex;
  justify-content: space-between;
  border: 20px solid #e5efea;
  width: 720px;
  height: 360px; }
  @media (min-width: 980px) and (max-width: 1700px) {
    .single .et_pb_column_0 {
      margin-left: 10%; } }
  .single .et_pb_column_0 .et_pb_text {
    padding-right: 0;
    margin-bottom: 0;
    height: initial; }
    .single .et_pb_column_0 .et_pb_text p {
      margin-top: 20px; }
  .single .et_pb_column_0 .et_pb_image {
    padding: 20px 20px 0 20px;
    margin: 0 !important; }
    .single .et_pb_column_0 .et_pb_image img {
      width: 220px;
      height: 280px; }
@media (min-width: 980px) and (max-width: 1700px) {
  .single .et_pb_column_1 {
    margin-left: 10%; } }
@media (max-width: 1700px) {
  .single .et_pb_column_1 img {
    max-width: initial; } }

.on_single .et_pb_contact_form_0 input, .on_single .et_pb_contact_form_0 textarea {
  padding-left: 0; }
.on_single .et_pb_contact_form_0 textarea {
  min-height: 2em; }

.resources .et_pb_column_0 {
  max-width: 840px;
  margin: 0;
  margin-top: 25px;
  padding-right: 10px; }
  .resources .et_pb_column_0 .et_pb_row_inner_0 {
    padding-top: 0; }
  .resources .et_pb_column_0 img {
    width: 830px;
    height: 415px; }
.resources .et_pb_column_1 {
  padding-left: 10px;
  max-width: 600px;
  width: 600px;
  padding-top: 0; }
  .resources .et_pb_column_1 .et_pb_contact_form_0 {
    margin-top: 20px; }
    .resources .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact input, .resources .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea {
      padding-left: 0; }
    .resources .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea {
      min-height: 2em; }
      .resources .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea::placeholder {
        padding-top: 20px; }

.contact_us .et_pb_column_0 {
  max-width: 840px;
  margin: 0;
  margin-top: 25px;
  padding-right: 10px; }
  .contact_us .et_pb_column_0 .et_pb_row_inner_0 {
    padding-top: 0; }
    .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text {
      margin-bottom: 0 !important; }
    .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_2 .et_pb_text_inner, .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_5 .et_pb_text_inner {
      display: flex;
      padding-left: 20px; }
      @media (max-width: 768px) {
        .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_2 .et_pb_text_inner, .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_5 .et_pb_text_inner {
          display: block; } }
      .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_2 .et_pb_text_inner p + p, .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_5 .et_pb_text_inner p + p {
        margin-left: 100px; }
        @media (max-width: 768px) {
          .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_2 .et_pb_text_inner p + p, .contact_us .et_pb_column_0 .et_pb_row_inner_0 .et_pb_text_5 .et_pb_text_inner p + p {
            margin-left: 0; } }
  .contact_us .et_pb_column_0 img {
    width: 830px;
    height: 415px; }
.contact_us .et_pb_column_1 {
  padding-left: 10px;
  max-width: 600px;
  width: 600px;
  padding-top: 0; }
  .contact_us .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact input, .contact_us .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea {
    padding-left: 0; }
  .contact_us .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea {
    min-height: 2em; }
    .contact_us .et_pb_column_1 .et_pb_contact_form_0 .et_pb_contact textarea::placeholder {
      padding-top: 20px; }

/*# sourceMappingURL=custom.css.map */
